@layer starlight, site, components;

@layer site {
	:root {
		--sl-sidebar-width: 17rem;
		--sl-content-width: 60rem;
		
		--sl-color-accent-low: hsl(224, 54%, 20%);
		--sl-color-accent: hsl(224, 100%, 60%);
		--sl-color-accent-high: hsl(224, 100%, 85%);
		
		/* Major Second --- Minor Third */
		--sl-text-6xl: 4rem;
		--sl-text-5xl: clamp(2.027rem, 1em + 2.4vw, 2.986rem);
		--sl-text-4xl: clamp(1.802rem, 1em + 2.1vw, 2.488rem);
		--sl-text-3xl: clamp(1.602rem, 1em + 1.8vw, 2.074rem);
		--sl-text-2xl: clamp(1.424rem, 1em + 1.5vw, 1.728rem);
		--sl-text-xl: clamp(1.266rem, 1em + 1.2vw, 1.44rem);
		--sl-text-lg: 1.125rem;
		--sl-text-base: 1rem;
		--sl-text-sm: 0.889rem;
		--sl-text-xs: 0.79rem;
		--sl-text-2xs: 0.75rem;
	}
	
	.hero .sl-link-button {
		transition: transform 120ms;
		&:hover { transform: translateY(-5%); }
	}
	
	.sl-link-button {
		&:hover {
			color: var(--sl-color-text-accent)
		}
		&:active {}
		
		&.primary {
			&:hover {
				background: color-mix(in srgb, var(--sl-color-text-accent) 60%, var(--sl-color-white) 40%);
				color: var(--sl-color-black);
			}
			&:active {}
		}
	}
	
	.site-title {
		font-size: var(--sl-text-lg);
		span {
			transition: transform 120ms;
		}
		&:hover span {
			transform: translateY(-5%);
		}
	}
	
	.contextual-menu-container {
		margin-top: auto;
	}
	
	.main-pane {
		container: article / inline-size;
	}
	
	#starlight__sidebar .sidebar-content {
		li > a:not(:hover):not([aria-current="page"]):has(.sl-badge.danger) {
			opacity: 0.6;
			
			.sl-badge {
				visibility: hidden;
			}
		}
	}
}